{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block main %}
<div class="input-container">
  <h1>{% trans "Вы действительно хотите выйти?" %}</h1>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn_success user-btn" type="submit">Выйти</button>
  </form>

</div>


{% endblock %}
