{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block main %}
    {#    <div >#}
    {#                    <label  for="password">Пароль#}
    {#                    </label>#}
    {#                    <input  id="password" name="password" type="password" placeholder="Тут можно изменить пароль"/>#}
    {#                  </div>#}
    {#                  <div class="form-group">#}
    {#                    <label class="form-label" for="passwordReply">Подтверждение пароля#}
    {#                    </label>#}
    {#                    <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно"/>#}
    {#                  </div>#}
    {#                  <div class="form-group">#}
    {#                    <div class="Profile-btn">#}
    {#                      <button class="btn btn_success" type="submit">Сохранить#}
    {#                      </button>#}
    {#                        <a class="menu-link" href="{% url 'account_logout'%}">Log out</a>#}
    {#                    </div>#}
    {##}
    <div class="input-container">
        <form class="form-group" method="POST" action="{% url 'main' %}" class="password_change">
        {% csrf_token %}

        <label class="form-label" for="id_oldpassword" >Current Password:</label>
        <input class="form-input input" type="password" name="oldpassword" placeholder="Current Password"
               autocomplete="current-password" required id="id_oldpassword" >

        <label class="form-label" for="id_password1">New Password:</label>
        <input class="form-input input" type="password" name="password1" placeholder="New Password"
               autocomplete="new-password" required id="id_password1" >

        <label class="form-label" for="id_password2">New Password (again):</label>
        <input class="form-input input" type="password" name="password2" placeholder="New Password (again)" required
               id="id_password2">
            <a class="menu-link" href="{% url 'account_reset_password' %}" >{% trans "Forgot Password?" %}</a>
                <button class="btn btn_success" type="submit" name="action" style="margin-left: 40px">Change Password</button>
    </form>
    </div>

{% endblock %}
